html {
	height: 100%;
}

.container {
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
 .imgs {
 	text-align: center;	
 }


.footer {
	display: flex;
	justify-content: space-around;
}

.footer>img {
	transform: scale(10%);
}

.brainImg {
	animation-name: animate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 15s;
}

@keyframes animate {
 0% {
 	transform: rotateY(0deg);
 }

 30% {
 	transform: rotateY(180deg);
 }

 60% {
 	transform: rotateY(360deg);
 }

 100% {
 	transform: rotateY(360deg);
 }
}